.references p {
  margin-left: 2em;
  text-indent: -2em;
  margin-bottom: 0.75em;
}

.controversy-badge {
  display: inline-block;
  padding: 0.1rem 0.62rem;
  border-radius: 999px;
  font-size: 0.82rem;
  white-space: nowrap;
  background-color: #fdfdfd;
}

.controversy-badge::before {
  content: "🔎 ";
}

.exam-badge {
  display: inline-block;
  padding: 0.1rem 0.62rem;
  border-radius: 999px;
  font-size: 0.82rem;
  white-space: nowrap;
  background-color: #fffbc1;
}

.exam-badge::before {
  content: "✏️ ";
}

.article-badge {
  display: inline-block;
  padding: 0.1rem 0.62rem;
  border-radius: 999px;
  font-size: 0.82rem;
  white-space: nowrap;
  background-color: #fdfdfd;
}

.article-badge::before {
  content: "🧠 ";
}

.reading-badge {
  display: inline-block;
  padding: 0.1rem 0.62rem;
  border-radius: 999px;
  font-size: 0.82rem;
  white-space: nowrap;
  background-color: #fdfdfd;
}

.reading-badge::before {
  content: "📖 ";
}

.blue-badge {
  display: inline-block;
  padding: 0.15em 0.5em;
  margin-right: 0.35em;
  border-radius: 999px;
  line-height: 1.2;
  border: 1px solid #b4b4b4;
}

.blue-badge::after {
  content: " ↗";
}


.purple-badge {
  display: inline-block;
  padding: 0.15em 0.5em;
  margin-right: 0.35em;
  border-radius: 999px;
  font-size: 0.9em;
  line-height: 1.2;
  vertical-align: baseline;
  background-color: #efe7ff;
  color: #5b3aa3;
  border: 1px solid #cdbcf6;
}

